/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-area .nav-container .navbar-collapse .navbar-nav li a{
        font-size: 11pt;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .product-item .product-info .title{
        font-size: 14px;
    }
    .product-area.product-grid-area {
        padding: 30px 0 30px;
    }

    .shop-sidebar-area {
        padding: 18px 18px 10px;
    }
    .shop-sidebar-area {
        margin-top: 20px;
    }
    .mt-50{
        margin-top: 30px!important;
    }
}





